#selection {
    background-color: rgba(16,54,87,0.5);
    border: 1px solid #345f92;
    color: #ffffff;
    outline: none;
}

#selection::-webkit-scrollbar {
	width: 1px;
	height: 4px;
}

#selection::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	border-radius: 10px;
}

#selection::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(66, 66, 66, 0);
	-webkit-box-shadow: inset 0 0 6px rgba(227, 227, 227, 0);
}
#selection::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(227, 227, 227, 0);
}

div.btu{
    /* display: inline-block; */
    width: 53px;
    text-align: center;
    height: 20px;
    /* position: relative; */
    line-height: 20px;
    /* margin-top: 15px; */
    box-sizing: border-box;
    background-color: rgba(16,54,87,0.5);

    border: 1px solid #345f92;
    /* box-shadow: -5px 0px 5px #034c6a inset, !*å·¦è¾¹é˜´å½±*!
    0px -5px 15px #034c6a inset, !*ä¸Šè¾¹é˜´å½±*!
    5px 0px 15px #034c6a inset, !*å³è¾¹é˜´å½±*!
    0px 5px 15px #034c6a inset; */
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    
}
div.btu:hover{
    box-shadow: -10px 0px 15px #034c6a inset, /*å·¦è¾¹é˜´å½±*/
    0px -10px 15px #034c6a inset, /*ä¸Šè¾¹é˜´å½±*/
    10px 0px 15px #034c6a inset, /*å³è¾¹é˜´å½±*/
    0px 10px 15px #034c6a inset;
    box-sizing: border-box;
    border-bottom: 4px solid #4b8df8;

}